.js-greetings{
    font-size: 35px;
    color:blanchedalmond;
    position:fixed;
    bottom: 120px;
    left : 789.2903px;
    justify-content: space-between ;
    font-family: var(--fonthouse);
    font-weight: 600;
    text-align: center;
  }


.writeToDo{
    font-size: 20px;
    display: inline-block;
    color:blanchedalmond;
    position:absolute;
    bottom: 95px;
    left : 793.3432px;
    justify-content: space-between ;
    font-family: var(--fonthouse);
    font-weight: 400;
    text-align: center;
}

.toDoinput{
    border-radius: 14.3px;
    width: 325.6484px;
    font-size: 20px;
    display: inline;
    color:rgba(0,0,0,0.8);
    background-color: var(--mainColor);
    position:absolute;
    bottom: 60px;
    left : 797.1758px;
    justify-content: space-between ;
    font-family: var(--fonthouse);
    font-weight: 600;
    text-align: center;
}

input::placeholder {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px rgb(228 123 141);
    background-color: var(--mainColor);
  }