.js-greetings{
    font-size: 35px;
    width: 100%;
    color:var(--mainColor);
    margin-left: auto;
    margin-top: 155px;
    position:fixed;
    margin-right: auto;
    justify-content: space-between ;
    font-family: var(--fonthouse);
    font-weight: 400;
    text-align: center;
    line-height: 45px;
  }


.writeToDo{
    font-size: 18px;
    color:var(--mainColor);
    font-family: var(--fonthouse);
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    align-self: center;
    text-align: center;
    margin-bottom: 15px;

}

/* .js-toDoForm{
  position: relative;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
} */

.toDoinput{
    border-radius: 14.3px;
    width: 325px;
    font-size: 17px;
    color:rgba(0,0,0,0.8);
    background-color: var(--mainColor);
    font-family: var(--fonthouse);
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    text-align: center;
    

}

input::placeholder {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px rgb(228 123 141);
    background-color: var(--mainColor);
  }