.js-greetings{
    font-size: 35px;
    color:var(--mainColor);
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -235px;
    justify-content: space-between ;
    font-family: var(--fonthouse);
    font-weight: 400;
    text-align: center;
  }


.writeToDo{
    font-size: 20px;
    color:var(--mainColor);
    font-family: var(--fonthouse);
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    position:relative;
    align-self: center;
    text-align: center;

}

/* .js-toDoForm{
  position: relative;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
} */

.toDoinput{
    border-radius: 14.3px;
    width: 325.6484px;
    font-size: 20px;
    color:rgba(0,0,0,0.8);
    background-color: var(--mainColor);
    font-family: var(--fonthouse);
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position:relative;
    justify-items: center;
    align-content: center;
    align-self: center;
    text-align: center;

}

input::placeholder {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px rgb(228 123 141);
    background-color: var(--mainColor);
  }