body {
    background-color: #3d717e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .btn {
    cursor: pointer;
  }

    body {
    color: #34495e;
    transition: color 0.5s ease-in-out;
  }
  
.clicked {
    color: #7f8c8d;
  }

.form,
.greetings {
    display: none;
  }

.showing {
    display: block;
  }



@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation:fadeIn 0.5s linear;
}

@keyframes showClock{
  from{
    opacity: 0.5;
  }to{
    opacity: 0.9;
  }
}


#colck-time{
  height: 700px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color:rgba(255,255,255);
  animation: showClock 0.5s ease-in-out forwards;
  z-index: 1;
}