
  .btn {
    cursor: pointer;
  }

  
.clicked {
    color: #7f8c8d;
  }

.form,
.greetings {
    display: none;
  }

.showing {
    display: block;
  }



@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation:fadeIn 0.5s linear;
}

@keyframes showClock{
  from{
    opacity: 0.5;
  }to{
    opacity: 0.9;
  }
}


#colck-time{
  position:fixed;
  bottom:250px;
  left: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color:rgba(255,255,255);
  animation: showClock 0.5s ease-in-out forwards;
  z-index: 1;
  font-family: var(--fonthouse);
  font-weight: 100;
}

.top-gradation{
  padding: 300px 0px;
  background:linear-gradient(to bottom,rgba(0,0,0,5),rgba(0,0,0,0));
  opacity: 0.8;
}

