.logo-img{
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 16px;
    width: 40px;
    height: 40px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
    border-radius: 8px;
    object-fit: contain;
}

.linklogo{
    position:relative;
    top:-400px;
    left:60px;
    padding-right:16px;
    width: 70px;
    height:70px;
    display: inline-flex;
    align-content: space-between;
    text-align: center;
    color:var(--mainColor);
}

.logo-text{
    padding-top: 6.5px;
    font-size: 13px;
    font-family: var(--fonthouse);
}

.web-link{
    
    text-decoration: none;
}

.web-link:visited{
    color:var(--mainColor);
}

.web-link:link{
    color:var(--mainColor);
}

.web-link:focus {
    border-bottom: 1px solid;
    color: #BAE498;
  }
  
.web-link:hover {
    border-bottom: 1px solid;
    background: darkmagenta;
  }